<%- include('../../partials/head.ejs') %>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class='card car-body p-4'>
                <section>
                    <h3><%= post.title %> </h3>
                    <div class="d-flex">
                        <small>
                            <%= moment(post.createdAt) %>,
                            Posted by <a href="/author/<%= post.author._id %>">
                                <%= post.author.username %>
                            </a>,
                            <%= post.readTime %>
                        </small>
                        <% if (user) { %>
                        <span class="ml-auto bookmark" data-post="<%= post._id %> ">
                            <% if (bookmarks.includes(post._id)) { %>
                            <i class='fas fa-bookmark'></i>
                            <% } else { %>
                            <i class='far fa-bookmark'></i>
                            <% } %>
                        </span>
                        <% } %>
                    </div>
                    <% if (post.thumbnail) { %>
                    <img src="<%= post.thumbnail %> " alt="<%= post.title %> " class="img-fluid my-2">
                    <% } %>

                    <section>
                        <%- post.body %>
                    </section>

                    <section class='my-5'>
                        <% if (!user) { %>
                        <button class="btn btn-success btn-sm" disabled="disabled">
                            Like(<%= post.likes.length %> )
                        </button>
                        <button class="btn btn-danger btn-sm" disabled="disabled">
                            Dislike(<%= post.dislikes.length %> )
                        </button>
                        <p class='text-center text-muted mt-5'>To like or dislike first
                            <a href="/auth/login">Login</a>
                        </p>
                        <% } else{ %>
                        <button class="btn btn-success btn-sm" data-post="<%= post._id %> " id="likesBtn">
                            <%= post.likes.includes(user._id) ? 'Liked' : 'Like' %>(<%= post.likes.length %>)
                        </button>
                        <button class="btn btn-danger btn-sm" data-post="<%= post._id %> " id="dislikesBtn">
                            <%= post.dislikes.includes(user._id) ? 'Disliked' : 'Dislike' %>(<%= post.dislikes.length %>)
                        </button>
                        <div class="mt-5">
                            <label for="comment">Please leave a comment</label>
                            <input type="text" name="comment" id="comment" data-post="<%= post._id %> "
                                placeholder="Press enter to  submit" class='form-control'>
                        </div>
                        <div class="mt-5" id="comment-holder">
                            <% if (post.comments.length == 0) { %>
                            <p class="text-center text-muted">There is no comment</p>
                            <% } else {%>
                            <% for( let comment of post.comments.reverse() ) { %>
                            <div class="media border">
                                <img src="<%= comment.user.profilePics %> " class='rounded-circle mx-3 my-3'
                                    style='width: 40px;'>

                                <div class="media-body my-3">
                                    <p><%= comment.body %> </p>
                                    <div name="replies">
                                        <% if (comment.replies.length > 0) { %>
                                        <% for( let reply of comment.replies ) { %>
                                        <div class="media mt-3">
                                            <img src="<%= reply.user.profilePics %>"
                                                class='mr-3 rounded-circle align-self-start' style="width: 40px;">
                                            <div class="media-body">
                                                <p><%= reply.body %> </p>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                    </div>
                                    <div class="my-3">
                                        <input type="text" name="reply" id="" class='form-control'
                                            placeholder="Press Enter to reply" data-comment="<%= comment._id %> ">
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <% }%>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>
<script src="/scripts/bookmarks.js"></script>
<script src="/scripts/likesdislikes.js"></script>
<script src="/scripts/comment.js"></script>

</body>

</html>