<%- include('../../partials/head.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card card-body my-5">
                        <h5>All bookmarks</h5>
                        <div class="row">
                            <% if (posts.length == 0) { %>
                            <p class='text-center text-muted'>
                                You don't have any bookmarks yet.
                            </p>
                            <% } else {%>
                            <% for( let post of posts.reverse() ) { %>
                            <div class="card col-sm-3 m-3">
                                <% if (post.thumbnail) { %>
                                <img src="<%= post.thumbnail %> " alt="<%= post.title %> " class='card-img mt-3'>
                                <% } %>
                                <div class="card-body">
                                    <a href="/explorer/<%= post._id %> " style="color: #222222;">
                                        <h5><%= post.title %> </h5>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>